<app-header-home></app-header-home>
<ion-content>
    <div class="gradiante-1 fondo">       
        <ion-grid class ="top-padding">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12">
            <ion-card>
                <ion-card-content>
                    <ion-text class="ion-text-center">
                        <h1>
                            Antes de iniciar, es importante que conozcas esto
                        </h1>
                    </ion-text>
                    <ion-grid>
                        <ion-row>
                            <ion-col class ="ion-padding">
                                <ion-text color ="dark">
                                    <h5 class="ion-padding">Persona natural</h5>
                                </ion-text>
                                    
                                <p class="ion-text-justify">
                                    Si su relación laboral surgió, como producto
                                    de una labor desempeñada por usted, para un ser
                                    humano mas no para una empresa. La persona natural 
                                    se identifica con el nombre y número de cedula de ciudadanía. 
                                </p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-text color ="dark">
                                    <h5 class="ion-padding"> Persona jurídica</h5>
                                </ion-text>
                                <p class="ion-text-justify">
                                    Corresponde al más común y se logra categorizar si usted como empleado,
                                    realizo o realiza labores para una empresa, entendiéndose está, como una 
                                    organización en cuyo objetivo se encuentre una actividad económica y lucrativa.
                                    La persona jurídica se identifica con la razón social y el número de identificación
                                    tributaria NIT. 
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            </ion-col>
        </ion-row>
        </ion-grid>
        <div class="ion-padding">
            <ion-button color ="azul-la" expand="block" size ="small" type="submit" class="ion-no-margin" routerLink ="datos-demandado">Siguiente</ion-button>
        </div> 
</div>
</ion-content>