<app-header titulo ="pago salario"></app-header>
<ion-content>
  <div class="gradiante-1 fondo">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-text color ="azul-la" class="ion-text-center">
                <h5>
                  Detalle conflicto no pago salario
                </h5>
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label position ="floating"> 
                    fecha inicial de salario no recibido
                  </ion-label>
                    <ion-icon slot ="start" name="calendar-outline" class="padding-top-10"></ion-icon>
                  <ion-datetime
                    [monthShortNames] = "meses"
                    cancelText = "cancelar"
                    doneText="confirmar"
                  >
                  </ion-datetime>
              </ion-item>
              <ion-item>
                  <ion-label position ="floating"> 
                    fecha final de salario no recibido
                  </ion-label>
                    <ion-icon slot ="start" name="calendar-outline" class="padding-top-10"></ion-icon>
                  <ion-datetime
                    [monthShortNames] = "meses"
                    cancelText = "cancelar"
                    doneText="confirmar"
                  >
                  </ion-datetime>
              </ion-item>
              </ion-list>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  <div class="ion-padding">
    <ion-button color ="azul-la" expand="block" size ="small" (click)="seguir()" class="ion-no-margin">siguiente</ion-button>
  </div> 
  </ion-grid> 
</div>
</ion-content>
