<!-- <app-header></app-header>
<ion-content> -->
    <!-- <div class="gradiante-1 fondo">        -->
        <ion-grid class ="top-padding">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12">
            <ion-card>
                <ion-card-content>
                    <ion-text class="ion-text-center" color="azul-la">
                        <h1>
                            Confirmar Solicitud
                        </h1>
                    </ion-text>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-text color ="dark">
                                    <h5 class="ion-padding">Confirmar Solicitud</h5>
                                </ion-text>
                                <p class="ion-text-justify">
                                    Ahora solo debes confirmar la solitud para que laboApp pueda ayudarte.
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
            </ion-col>
        </ion-row>
        </ion-grid>
        <div class="ion-padding">
            <ion-button color ="azul-la" expand="block" size ="small" type="submit" class="ion-no-margin" routerLink ="datos-demandado">Siguiente</ion-button>
        </div> 
<!-- </div>
</ion-content> -->